* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: rgb(241, 234, 234);
    display: flex;
    justify-content: center;

}

.container {
    background-color: rgb(255, 255, 255);
    margin: 3%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    overflow: hidden;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;





}

.logo {
    margin-bottom: 2px;
    padding: 0%;
    overflow-y: hidden;

}

.logo img {
    width: 60px;
    height: 60px;
    width: 100%;
    object-fit: cover;



}

.company {
    display: flex;
    margin-left: -13%;
    margin-right: 3%;
    align-items: center;
    padding: 0%;

}

.Abu {
    display: inline-block;

}

.Abu h4 {
    color: rgb(67, 161, 145);

}

.Abu span {
    color: rgb(57, 22, 14);

}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.navbar ul {
    display: flex;

}

.navbar li {
    padding: 0px 16px;
    list-style-type: none;
    color: rgb(205,195,193);
    font-size: 14px;
    font-weight: 610;

}

.navbar li:hover {
    color: rgb(67, 161, 145);
}

.letsTalk {
    background-color: rgb(81, 132, 249);
    color: white;
    border-bottom-left-radius: 25px;
    width: 102px;
    height: auto;
    padding: 8px 0px;
    border: none;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 14px;

}

.sect2 {
    margin-bottom: 0%;
}

.container .sect2 {
    padding-left: 0%;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    padding-right: 3%;




}

.right {
    display: block;


}

.icons1 {
    display: flex;



}

.ig {

    background-color: rgb(251, 187, 49);
    padding: 4px;
    width: 35px;
    height: 35px;
    align-items: center;
    border-radius: 49%;
    place-items: center;
    margin-right: 10px;
    box-shadow: 2px 13px 22px 4px rgb(206, 205, 210);

}

.ig img {
    width: 20px;
    height: 20px;
    align-items: center;
    margin: 3.1px;

}

.twitter {

    background-color: rgb(66, 161, 145);
    padding: 6px;
    width: 35px;
    height: 35px;
    align-items: center;
    border-radius: 49%;
    place-items: center;
    box-shadow: 1px 13px 22px 4px rgb(206, 205, 210);
}

.twitter img {
    width: 20px;
    height: 20px;
    align-items: center;
    margin: 1.5px;

}

.about h1 {
    color: rgb(57, 22, 4);
    font-weight: 900;
}

.about p {
    color: rgb(167, 165, 171);
    font-size: 12px;
    font-weight: 500;
}

.icons2 {
    display: flex;


}

.contact {
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(67, 161, 145);
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 16px;
    border-bottom-left-radius: 25px;
    width: 120px;
    height: auto;
    padding: 8px 0px;
    font-weight: regular;
    font-size: 12px;
    margin-right: 15px;
    box-shadow: 1px 13px 22px 4px rgb(206, 205, 210);

}

.stats {
    display: flex;
    border: none;
    padding: 4px;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 16px;
    border-bottom-left-radius: 25px;
    width: 120px;
    height: 35px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 13px 22px 4px rgb(206, 205, 210);


}

.in {
    display: block;
    background-color: rgb(245, 219, 17);
    padding: 6px 8px;
    width: 28px;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

#rect {
    width: 13px;
}

.stats p {
    color: rgb(167, 165, 171);
    font-weight: bold;
    font-size: 12px;

}

.stats span {
    color: rgb(57, 22, 4);
    display: flex;

}

.left {
    display: inline-flex;
    margin-top: -60px;
}

.bg {
    width: 500px;
    height: 420px;
    position: relative;


}

.bg img {
    width: 100%;
    height: 100%;
}

.above {
    padding-top: 0%;
    margin-top: 0%;
    width: 500px;
    height: 420px;
    position: absolute;
    margin-bottom: 0px;
}

.above img {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.grid {
    display: flex;
    padding-left: 0%;
    margin: 3%;
    margin-top: -2.95%;
    justify-content: baseline;
}

.first {
    border: 1px solid rgb(252, 231, 240);
    padding: 5% 10% 5% 4%;
    align-items: flex-start;
    width: 33.33%;


}

.second {
    border: 1px solid rgb(252, 231, 240);
    padding: 5% 10% 5% 4%;
    align-items: flex-start;
    width: 33.33%;


}

.third {
    border: 1px solid rgb(252, 231, 240);
    padding: 5% 10% 5% 4%;
    align-items: flex-start;
    width: 33.33%;


}

.first span {
    color: rgb(58, 21, 10);
    font-weight: bold;
    font-size: 26px;

}

.second span {
    color: rgb(58, 21, 10);
    font-weight: bold;
    font-size: 26px;
}

.third span {
    color: rgb(58, 21, 10);
    font-weight: bold;
    font-size: 26px;
}

.first p {
    color: #412A1E;
    font-weight: 510;
}

.second p {
    color: #412A1E;
    font-weight: 510;
}

.third p {
    color: #412A1E;
    font-weight: 510;
}

.companies {
    display: flex;
    padding-left: 0%;
    margin: 3% 3% 4% 3%;
    box-shadow: 17px 55px 30px -21px rgb(251, 248, 249);
    justify-content: space-evenly;
    /* border: 2px solid red;  */

}

.slack {
    width: 25%;
    /* border: 2px solid red;  */
    padding: Opx;
    height: 10%;
    margin-left: -60px;


}

.slack img {
    width: 55%;
    opacity: 36%;

}

.pru {

    /* border: 2px solid red;  */
    padding: Opx;
    width: 25%;
    height: 10%;
    padding-bottom: 1px;
    margin-right: 25px;

}

.pru img {
    width: 65%;
    opacity: 36%;
    margin-left: 10px;
}

.ms {
    /* border: 2px solid red;  */
    padding: Opx;
    width: 25%;
    height: 2%;
    padding: -4% 4% 1% -10%;


}

.ms img {
    width: 90%;
    opacity: 100%;
    margin-top: -13%;
    margin-bottom: -45px;
    margin-left: -30px;

}

.zoover {
    /* border: 2px solid red;  */
    padding: 4% 4% 3% 2%;
    width: 25%;
    height: 10%;
    margin-right: -180px;



}

.zoover img {
    width: 50%;
    opacity: 36%;

}

.know {
    align-items: center;
    text-align: center;
}

.know img {
    width: 60px;
    height: 60px;
    margin-bottom: -20px;
    margin-left: -18px;

}

.know h4 {
    color: rgb(67, 161, 145);
    letter-spacing: 1.2px;
}

.know h1 {
    color: #43200e;
}

.table {
    display: flex;
    margin: 3%;
    width: 100%;
    margin-right: 4%;

}

.t1 {
    width: 32%;
    background-color: rgb(245, 249, 250);
    padding: 24px 60px 27px 25px;

}

.t2 {
    width: 32%;
    background-color: rgb(67, 161, 145);
    padding: 24px 60px 27px 25px;
}

.t3 {
    width: 32%;
    background-color: rgb(234, 246, 254);
    padding: 24px 60px 27px 25px;
}

.t1 i {
    color: white;
    background-color: rgb(81, 132, 249);
    border-radius: 50%;
    padding: 20px;
}

.t2 i {
    color: #43200e;
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(253, 246, 246);

}

.t3 i {
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(251, 185, 49);

}

.t1 h4 {
    color: rgb(51, 20, 7);

}

.t1 p {
    color: rgb(51, 20, 7);
    font-size: 12px;
}

.t1 span {
    font-weight: 540;
    font-size: 12px;
}

.t2 h4 {
    color: rgb(253, 246, 246);

}

.t2 p {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.t2 span {
    font-weight: 540;
    font-size: 12px;
}

.t3 h4 {
    color: rgb(51, 18, 3);

}

.t3 p {
    color: rgb(51, 18, 3);
    font-size: 12px;
}

.t3 span {
    font-weight: 540;
    font-size: 12px;
}

.we-work {
    display: flex;
    position: relative;
}

.left {
    display: inline-flex;
    margin-top: -60px;
}

.man {
    width: 570px;
    height: 480px;
    z-index: 1;
    position: absolute;





}

.man img {
    width: 96%;
    height: 100%;
    margin-top: 4%;

}

.inf {
    margin-left: 0.9%;
    width: 560px;
    height: 400px;

}

.inf img {
    width: 100%;
    height: 100%;
    margin-top: 5%;


}

.we {
    float: right;
    align-items: center;
    margin-right: -2%;
    margin-left: 50px;
    margin-top: 5%;
    color: rgb(58,21,4);

}

.we img {
    width: 60px;
    height: 60px;
    margin-bottom: -20px;
    margin-left: -18px;

}

.how {
    color: rgb(67, 161, 145);
    letter-spacing: 1.4px;
    font-weight: 630;
    font-size: 12px;
}

.projects {
    font-size: 30px;
    font-weight: 750;
    margin-top: -7px;
}

.we1 {
    font-size: 19px;
    display: flex;
    margin-right: -21%;
}

.we2 {
    font-size: 19px;
    display: flex;
    margin-right: -21%;


}

.we3 {
    font-size: 19px;
    display: flex;
    margin-right: -21%;



}

.b1 {
    padding: 3% 2.2%;
    width: 11%;
    height: 5%;
    background-color: rgb(67, 161, 145);
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(234, 246, 254);
    margin-right: 6%;
    margin-top: -8px;



}

.b2 {
    padding: 3% 2.2%;
    width: 11%;
    height: 5%;
    background-color: rgb(81, 132, 249);
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(234, 246, 254);
    margin-right: 6%;
    margin-top: -8px;
}

.b3 {
    padding: 3% 2.2%;
    width: 11%;
    height: 4%;
    background-color: rgb(251, 185, 49);
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(234, 246, 254);
    margin-right: 6%;
    margin-top: -8px;

}

.we1 h4 {
    font-weight: 600;
}

.we2 h4 {
    font-weight: 600;
}

.we3 h4 {
    font-weight: 600;
}

.sign-up {
    margin-top: 15%;
    padding-bottom: 10%;
    padding-top: 10%;
    border-top: solid 12px rgb(226, 226, 226);
    border-bottom: solid 12px rgb(226, 226, 226);
    border-width: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0%;
}

.sign-up h1 {
    font-size: 35px;
    color: rgb(24, 28, 40);
}

.sign-up p {
    color: rgb(92, 92, 99);
    font-size: 13px;
}

.sign-up input {
    width: 40%;
    background-color: rgb(67, 161, 145);
    color: rgb(234, 246, 254);
    font-size: 13px;
    font-weight: 900;
    padding: 19px 17px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border: none
}

.sign-up button {
    color: rgb(234, 246, 254);
    background-color: rgb(81, 132, 249);
    font-size: 13px;
    font-weight: 900;
    padding: 13px 17px;
    border-radius: 12px;
    border: none;
    margin-left: -110px;

}

.sign-up .circles i {
    margin-left: 820px;
    justify-content: space-between;
    padding: -2px;
    color: rgb(251, 185, 49);
    margin-top: -16px;
}

.sign-up .circle1 i {
    margin-right: 800px;
    justify-content: space-between;
    padding: 2px;
    color: rgb(81, 132, 249);
    margin-top: 11px;
}

.letsgo {
    display: flex;
    margin-top: 5%;
}

.letsgo .left {
    margin-top: 3%;
}

.letsgo .bg {
    width: 90%;
}

.rgt {
  
    margin-right: 5%;
    margin-left: 3%;

}

.hww {
    align-items:right;
    margin-top: 5%;
    padding: 0%;

}

.hww img {
    width: 60px;
    height: 60px;
    margin-bottom: -20px;
    margin-left: -18px;

}

.hww h4 {
    color: rgb(67, 161, 145);
    letter-spacing: 1.4px;
    font-weight: 630;
    font-size: 12px;

}

.hww h1 {
    color: rgb(51, 20, 7);
    padding-right: 0%;
}

label[for=name] {
    color: rgb(24, 26, 56);
    font-weight: 550;
    font-size: 15px;



}

::placeholder {
    color: rgb(159, 155, 162);
    padding: 10px;

}

input[type=text],[type=message] {
    background-color: rgb(251, 239, 239);
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: none;
    font-size: 11px;
    margin-bottom: 18px;
}
input[type=message]{
    padding-bottom: 80%;
}

.out {
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(67, 161, 145);
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 16px;
    border-bottom-left-radius: 25px;
    width: 122px;
    margin-top: 20px;
    padding: 13px 0px;
    font-weight: regular;
    font-size: 12px;
    margin-right: 15px;
    box-shadow: 11px 13px 14px 13px rgb(251, 239, 239);
    margin-bottom: 100px;

}